body {
    font-family: \'Fira Code\', monospace;
}

.comment {
    background-color: #ffffff;
    color: #121212;
    margin: 4px;
}

.main {
    margin: 160px 20px 0 380px;
    overflow: hidden;
}

.nav-section {
    margin: 20px 0;
}

.paper {
    font-family: \'Montserrat\', sans-serif;
}

#comments {
    overflow: scroll;
    margin-top: 16px;
    max-height: calc(50vh - 120px);
}

#compose {
    height: 100vh;
}

#piece-header {
    min-height: 120px;
    position: fixed;
    left: 360px;
    padding: 20px;
    top: 0;
    margin: 0;
    background: linear-gradient(315deg, #bcbcbc 0%, #898989 74%);
    color: white;
    width: calc(100vw - 360px);
    z-index: 100;
}   

#sidebar {
    display: block;
    background-color: #121212;
    color: white;
    height: 100vh;
    width: 360px;
    position: fixed;
    top: 0;
    padding: 20px;
    overflow: scroll;
}

#toggle-div {
    background-color: #898989;
    width: 100%;
    display: none;
    padding: 12px;
}

@keyframes sidebar {
    0% {
        width: 0px;
    }
    100% {
        width: 100vw;
    }
}

@media (max-width: 600px) {
    .main {
        margin: 0;
    }

    #sidebar {
        position: relative;
        display: none;
        width: 100vw;
        height: 100vh;
        z-index: 101;
    }
    
    #piece-header {
        position: relative;
        margin: 0;
        padding: 0;
        left: 0;
        width: 100vw;
        background: #898989;
    }
    #toggle-div {
        display: block;
    };
}